= simple_form_for @score_result do |f|
  = box Score::Result.model_name.human do |box|
    = f.error_notification
    = f.input :name
    = f.association :assessment
    = f.input :group_assessment, as: :boolean
    = render 'tag_form', f: f
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"
