= boxed_form_for Score::Result.model_name.human, @score_result do |f|
  = f.error_notification
  = f.inputs do
    = f.input :name
    = f.association :assessment
    = f.input :group_assessment, as: :boolean
    - if decorated_competition.youth_name.present?
      = f.input :youth, as: :boolean, label: decorated_competition.youth_name
  = f.actions do
    = f.primary_button :submit, "Speichern"
