.row
  .col-md-8
    = box @score_result.name do |box|
      %table.table
        %tr
          %th= @score_result.class.human_attribute_name :name
          %td= @score_result.name
        %tr
          %th= @score_result.class.human_attribute_name :assessment
          %td= @score_result.assessment
        %tr
          %th= @score_result.class.human_attribute_name :group_assessment
          %td= @score_result.group_assessment
        %tr
          %th= @score_result.class.human_attribute_name :lists
          %td
            %table.table.table-condensed
              - @score_result.lists.each do |list|
                %tr
                  %td= list.name
                  %td= short_show_link score_list_path(list)
  .col-md-4
    = box("Aktionen") do
      = link_btn "Bearbeiten", edit_score_result_path(@score_result)
      = link_btn "Startliste hinzufügen", new_score_list_path(score_result: @score_result)


  .col-md-12
    = box @score_result.name do |box|
      %table.table.table-bordered
        - @rows.each do |row|
          %tr
            %td= "#{place_for_row row}."
            %th= row.entity
            %th= row.best_stopwatch_time
            - @score_result.lists.each do |list|
              %td= row.time_from(list)

  .col-md-12
    = box "Mannschaftswertung" do |box|
      %table.table.table-bordered
        - @group_result_rows.each do |row|
          %tr
            %th= row.team
            %th= row.time
