= boxed_form_for Assessment.model_name.human, @assessment do |f|
  = f.error_notification
  = f.inputs do
    = f.association :discipline
    = f.input :gender, collection: [:male, :female]
    = f.input :name
  = f.actions do
    = cancel_link
    = f.primary_button :submit, "Speichern"
