= simple_form_for @assessment do |f|
  = box Assessment.model_name.human do |box|
    = f.error_notification
    = f.association :discipline
    = f.input :gender, collection: [:male, :female]
    = f.input :name
    = render 'tag_form', f: f
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"
