- if assessments.count .zero?
  .alert.alert-info Keine Einträge gefunden
- else
  %table.table
    %tr
      %th= Assessment.human_attribute_name(:name)
      %th= Assessment.human_attribute_name(:discipline)
      %th= Assessment.human_attribute_name(:band)
      %th
    - assessments.each do |assessment|
      %tr
        %td= assessment
        %td
          = discipline_image assessment.discipline
          = assessment.discipline
        %td= assessment.band
        %td.text-right
          = btn_link_to 'Ansehen', assessment
          = btn_link_to 'Bearbeiten', { action: :edit, id: assessment }
