.row
  .col-md-8
    = box @assessment do |box|
      %table.table
        %tr
          %th= @assessment.class.human_attribute_name :name
          %td= @assessment.name
        %tr
          %th= @assessment.class.human_attribute_name :discipline
          %td= @assessment.discipline
        %tr
          %th= @assessment.class.human_attribute_name :gender
          %td= t("gender.#{@assessment.gender}")

  - if admin_logged_in?
    .col-md-4
      = box("Aktionen") do
        = block_link_to "Bearbeiten", { action: :edit }
        = block_link_to "Löschen", { action: :destroy }, method: :delete, data: { confirm: 'Wertungsgruppe wirklich löschen? Dies ist nur möglich, wenn keine Ergebnisse verknüpft sind.' }
        = block_link_to "Übersicht Wertungsgruppen", { action: :index }