= boxed_form_for Team.model_name.human, @team do |f|
  = f.error_notification
  = f.inputs do
    = f.input :name
    .suggestions-entries
      %table.table.table-hover.table-condensed
    = f.input :shortcut, input_html: { maxlength: 12 }
    = f.input :number
    = f.input :gender, collection: [:male, :female]
    = render 'tag_form', f: f
  = f.actions do
    = cancel_link
    = f.primary_button :submit, "Speichern"
