= simple_form_for @team do |f|
  = box Team.model_name.human do |box|
    = f.error_notification
    = f.input :name, input_html: { autocomplete: :off }, hint: 'Keine Nummern im Namen angeben!'
    .suggestions-entries
      %table.table.table-hover.table-condensed
    = f.input :shortcut, input_html: { maxlength: 12 }, hint: 'Keine Nummern im Namen angeben!'
    = f.input :number
    = f.input :gender, collection: [:male, :female]
    - if Competition.one.lottery_numbers?
      = f.input :lottery_number
    = render 'tag_form', f: f
    = f.hidden_field :fire_sport_statistics_team_id
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"
