%table.table.table-bordered.table-hover.table-condensed.people-index-table
  %tr
    - if admin_logged_in?
      %th.small{ style: 'width: 40px' } Anm.
    - if Competition.one.lottery_numbers?
      %th{ style: 'width: 40px' } Los
    %th= Team.human_attribute_name(:name)
    - if Person.exists?
      %th.small{ style: 'width: 120px' }= Team.human_attribute_name(:people)
    - band.team_tags.each do |tag|
      %th.small{ style: 'width: 60px' }= tag
    - assessments.each do |assessment|
      %th.small{ style: 'width: 60px' }= discipline_image assessment.decorate.discipline, title: assessment.decorate
  - collection.each do |team|
    %tr{ admin_logged_in? && !team.assessment_request_group_competitor_valid? ? { class: 'danger' } : {} }
      - if admin_logged_in?
        - if team.enrolled?
          %td{ title: 'Mannschaft korrekt angemeldet' }
            = link_to(enrolled_team_path(id: team.id, reverse: 1), method: :patch, class: 'btn btn-link btn-xs') do
              %span.glyphicon.glyphicon-ok-circle
        - else
          %td{ title: 'Mannschaft nicht angemeldet' }
            = link_to(enrolled_team_path(id: team.id), method: :patch, class: 'btn btn-link btn-xs') do
              %span.glyphicon.glyphicon-ban-circle
      - if Competition.one.lottery_numbers?
        %td= team.lottery_number
      %td
        = link_to(team.numbered_name, team)
        - if Competition.one.federal_states?
          %em.small= team.federal_state.try(:shortcut)
      - if Person.exists?
        %td
          = team.people.count.positive? ? team.people.count : ''
          - if admin_logged_in? && !team.assessment_request_group_competitor_valid?
            %span.glyphicon.glyphicon-remove{ title: 'Mannschaftswertung nicht korrekt' }
      - band.team_tags.each do |tag|
        %td= team.tags.include?(tag) ? 'X' : ''
      - assessments.each do |assessment|
        %td
          - if team.request_for(assessment).present?
            - if assessment.fire_relay?
              #{team.request_for(assessment).relay_count} x
            = t("assessment_types.#{team.request_for(assessment).assessment_type}_short")
