.row
  .col-md-12
    = box Team.model_name.human(count: 0) do |box|
      - if logged_in?
        - box.header do
          = link_to "Hinzufügen", new_team_path, class: "btn btn-sm btn-info"
      %table.table
        %tr
          %th= Team.human_attribute_name(:name)
          %th= Team.human_attribute_name(:gender)
          %th= Team.human_attribute_name(:people)
          - @tags.each do |tag|
            %th= tag
          %th
        - @teams.each do |team|
          %tr{ team.list_entries_group_competitor_valid? ? {} : { class: "danger" } }
            %td= team.numbered_name
            %td= team.translated_gender
            %td
              = team.people.count
              - if logged_in?
                - unless team.list_entries_group_competitor_valid?
                  %i.ion.ion-close{ title: "Mannschaftswertung nicht korrekt"}
            - @tags.each do |tag|
              %td= team.tags.include?(tag) ? 'X' : ''
            %td.text-right
              = btn_link_to "Ansehen", team
              - if logged_in?
                = btn_link_to "Bearbeiten", { action: :edit, id: team }
      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
        - if logged_in?
          = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info"
