.row
  .col-md-12
    = box Team.model_name.human(count: 0) do |box|
      - if admin_logged_in?
        - box.header do
          .pull-right
            = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info"
          .clearfix

        - if Series::Round.with_local_results.present? && @without_statistics_id.present?
          .alert.alert-danger
            = "Es konnten zu #{@without_statistics_id.count} Mannschaften keine Serien-Ergebnisse gefunden wurden."
            = btn_link_to "Probleme ansehen", without_statistics_id_teams_path

      - { female: 'Frauen', male: 'Männer' }.each do |gender, name|
        %h4= name
        = render "index_table", collection: @teams.select { |t| t.gender == gender.to_s }, assessments: Assessment.requestable_for(Team.new(gender: gender))
      
      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
        - if admin_logged_in?
          = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info"
