.row
  .col-md-12
    = box Team.model_name.human do |box|
      - if logged_in?
        - box.header do
          = link_to "Hinzufügen", new_team_path, class: "btn btn-sm btn-info"
      %table.table
        %tr
          %th= Team.human_attribute_name(:name)
          %th= Team.human_attribute_name(:gender)
          %th= Team.human_attribute_name(:people)
          %th
        - @teams.each do |team|
          %tr
            %td= team.numbered_name
            %td= team.translated_gender
            %td= team.people.count
            %td.text-right
              = link_to "Ansehen", team_path(team), class: "btn btn-sm btn-default"
              - if logged_in?
                = link_to "Bearbeiten", edit_team_path(team), class: "btn btn-sm btn-default"
      - box.footer do
        .pull-right
          = link_btn "als PDF", url_for(format: :pdf)
          = link_btn "als XLS", url_for(format: :xlsx)
          - if logged_in?
            = link_to "Hinzufügen", new_team_path, class: "btn btn-sm btn-info"
        .clearfix