.row
  .col-md-12
    = box Team.model_name.human(count: 0) do |box|
      - if admin_logged_in?
        - box.header do
          .pull-right
            = link_to 'Importieren', new_teams_import_path, class: 'btn btn-sm btn-default'
          .clearfix

        - if Series::Round.with_local_results.present? && @without_statistics_id.present?
          .alert.alert-danger
            Es konnten zu #{@without_statistics_id.count} Mannschaften keine Serien-Ergebnisse gefunden wurden.
            = btn_link_to 'Probleme ansehen', without_statistics_id_teams_path

      - Band.all.decorate.each do |band|
        .row
          .col-md-3
            %h4= band
          - if admin_logged_in?
            .col-md-3= link_to 'Mannschaft hinzufügen', { action: :new, band_id: band.id }, class: 'btn btn-xs btn-default'
        = render 'index_table', collection: @teams.select { |t| t.band == band }, assessments: Assessment.requestable_for_team(band), band: band

      - box.footer do
        = btn_link_to 'als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
        = btn_link_to 'als XLS', format: :xlsx
