%td.edit-time
  - if entry.present?
    = f.simple_fields_for fields_for, entry do |n|
      = n.input :track, as: :hidden
      .row
        - if can?(:edit_times, Score::ListEntry)
          .col-md-4
            .time-entries
              - if entry.list.separate_target_times?
                = n.input :edit_second_time_left_target_before, as: :hidden
                = n.input :edit_second_time_left_target, as: :second_time
                = n.input :edit_second_time_right_target_before, as: :hidden
                = n.input :edit_second_time_right_target, as: :second_time
              - else
                = n.input :edit_second_time_before, as: :hidden
                = n.input :edit_second_time, as: :second_time
        - if can?(:edit_result_types, Score::ListEntry)
          .col-md-8
            .time-types
              = n.input :result_type_before, as: :hidden
              = n.collection_radio_buttons :result_type, Score::ResultEntrySupport::ENTRY_STATUS, :to_s, ->(t) { t("result_types.#{t}") }
