.row
  .col-md-12.much-data
    = simple_form_for @score_run, url: score_list_run_path do |f|
      = box @score_run.to_s do |box|
        %table.table.much-data
          = render 'score/lists/list_headline', times: true
          - @score_run.list_entries.each do |entry|
            = render layout: 'score/lists/list_entry', locals: { entry: entry, run: @score_run.run_number.to_i, track: entry.track, list: @score_run.list, best_of_run: false } do
              = render 'score/runs/edit_time', entry: entry, f: f, fields_for: :list_entries
        - box.footer do
          = cancel_link(@score_run.list)
          = f.primary_button :submit, 'Speichern'
.row
  .col-md-6
    = box('Hinweise') do
      %p Haben alle Zeiten in einer Wertungsliste eine elektronische Zeit, wird diese für alle Teilnehmer genommen.
