= simple_form_for @score_competition_result do |f|
  = box 'Gesamtwertung' do |box|
    = f.error_notification
    = f.input :name
    = f.input :gender, collection: Genderable::GENDERS.keys
    = f.input :result_type, collection: Score::CompetitionResult.result_types.invert
    = f.association :assessments, as: :check_boxes
    .alert.alert-info
      %p Es werden alle Ergebnislisten der ausgewählten Wertungsgruppe beachtet, die <i>Mannschaftswertung</i> ausgewählt haben.

    - box.footer do
      = cancel_link(action: :index)
      = f.primary_button :submit, "Speichern"
