%h3= t("gender.#{gender}")
%table.table.table-bordered.competition-results
  %tr
    %th.sum-points Punkte
    %th Mannschaft
    - group_results_for(gender).each do |result|
      %th.assessment{colspan: 2}
        = discipline_image result.assessment.discipline
        = result.assessment.discipline.to_short
  - collection.each do |row|
    %tr
      %td.sum-points= row.points
      %td= row.team
      - group_results_for(gender).each do |result|
        - assessment_result = row.assessment_result_from(result.assessment)
        %td.time= assessment_result.try(:time).try(:decorate)
        %td.points= assessment_result.try(:points)
