.row
  .col-md-6
    = box "Impressum dieses Auftritts" do
      %p Für den Auftritt dieser Webseite ist der Veranstalter des Wettkampfes verantwortlich. Diese Seite ist nur im Intranet zu erreichen. Es werden neben dem Vor- und Zunamen keine persönlichen Daten gepeichert.
      %p Die Verfasser der Software übernehmen keine Garantie für Schäden jeglicher Art.
      %p
        Der Quellcode für den Wettkampf-Manger steht unter der AGPLv3 und kann unter
        = link_to("https://github.com/Feuerwehrsport/wettkampf-manager", "https://github.com/Feuerwehrsport/wettkampf-manager")
        heruntergeladen werden.

  .col-md-6
    = box "Über" do
      %p
        Der Wettkampf-Manager wird seit Frühjahr 2015 hauptsächlich von 
        = link_to("Georg Limbach", "http://www.georf.de")
        als quelloffene Software entwickelt. Ziel ist es, die Ergebnisberechnung von Feuerwehrsportwettkämpfen so einfach wie möglich zu gestalten.
      %p
        Als Basis wird das Framework Ruby on Rails 4.2 mit Ruby 2.1 benutzt. Weitere Informationen dazu finden sich auf
        = link_to("Feuerwehrsport-Statistik.de", "http://www.feuerwehrsport-statistik.de/wettkampf_manager")
        oder auf
        = link_to("Github", "https://github.com/Feuerwehrsport/wettkampf-manager")
        = "."
      %p
        Die aktuelle Entwicklung wird durch die 
        = link_to("Lichtbit GmbH", "http://lichtbit.com")
        aus Rostock unterstützt.
      %p 
        Im Vorfeld entwickelte
        = link_to("Daniel Grosche", "http://dgrosche.charlottenthal.de")
        seit 2004 die Vorversion dieses Wettkampf-Managers. Es handelte sich um ein Datenbank-Management-System, entwickelt mit Microsoft Visual FoxPro 6.0.

  .col-md-6
    = box "Lizenz" do
      = render 'license'
  .col-md-6
    = box "Lizenzen von Teilelementen" do
      %table.table.table-condensed
        - Gem.loaded_specs.each do |key, gem|
          %tr
            %th= gem.name
            %td= gem.version
            %td= gem.license