.row
  .col-md-7
    = box decorated_competition do
      %h4 #{l decorated_competition.date} - #{decorated_competition.place}
      %table.table
        - used_genders = Genderable.used_genders
        %tr
          %th
          - used_genders.each do |gender|
            %th= t("gender.#{gender}")
        - if Person.exists?
          %tr
            %th Angemeldete Wettkämpfer
            - used_genders.each do |gender|
              %th= Person.gender(gender).count
        - if Team.exists?
          %tr
            %th Angemeldete Mannschaften
            - used_genders.each do |gender|
              %th= Team.gender(gender).count
  - if admin_logged_in?
    .col-md-5
      = box 'Konfigurieren' do
        = block_link_to 'Wettkampf', edit_competitions_path
        = block_link_to 'Passwort', edit_user_path(User.first)
        - if Imports::Configuration.possible?
          = block_link_to 'Import von Feuerwehrsport-Statistik.de', imports_configurations_path
  .col-md-6
    = box link_to(decorated_competition.hostname_url, decorated_competition.hostname_url) do
      = image_tag qrcode(decorated_competition.hostname_url)
      - if admin_logged_in?
        = block_link_to('Flyer anzeigen', { format: :pdf, action: :flyer }, target: '_blank', rel: 'noopener')
      - elsif !logged_in?
        = block_link_to('Anmelden', login_path)
  .col-md-6
    = box 'Aktuelle Startlisten' do
      - @current_score_lists.each do |list|
        = block_link_to(list.decorate, score_list_path(list))

  .col-md-6
    = box 'Wettkampf-Manager' do |box|
      %p
        Dieses Programm ist eine
        %strong kostenlose und freie Software.
        Sie steht unter der Software-Lizenz
        %em AGPLv3
        und kann #{link_to('hier', 'https://github.com/Feuerwehrsport/wettkampf-manager')} heruntergeladen werden.
      - box.footer do
        = btn_link_to('Weitere Informationen', action: :impressum)
