.row
  - unless Competition.first.configured?
    .col-md-12
      = box "Wettkampf-Manager konfigurieren" do |box|
        %p Bitte w채hlen Sie eine Startkonfiguration f체r den Wettkampf aus:
        %table.table
          - CompetitionSeed.all.each do |seed|
            %tr
              %th= seed.name
              %td= link_btn "Ansehen", competition_seed_path(seed.id)
  - else
    .col-md-7
      = box decorated_competition do |box|
        %h4= l decorated_competition.date
        %table.table
          %tr
            %th
            %th weiblich
            %th m채nnlich
          - if Person.count > 0
            %tr
              %th Angemeldete Wettk채mpfer
              %th= Person.female.count
              %th= Person.male.count
          - if Team.count > 0
            %tr
              %th Angemeldete Mannschaften
              %th= Team.female.count
              %th= Team.male.count
    - if logged_in?
      .col-md-5
        = box "Konfigurieren" do |box|
          %p= link_btn "Name und Datum", edit_competition_path(decorated_competition.id)
          %p= link_btn "Passwort", edit_user_path(User.first)
    .col-md-5
      = box link_to(own_url, own_url) do
        = image_tag url_as_qrcode
