.row
  .col-md-12
    = box Discipline.model_name.human do |box|
      %table.table
        %tr
          %th= Discipline.human_attribute_name(:type)
          %th= Assessment.model_name.human count: 0
          %th
        - @disciplines.each do |discipline|
          %tr
            %td
              = discipline_image(discipline)
              = discipline
            %td= discipline.assessments.join(", ")
            %td.text-right
              = link_to "Ansehen", discipline_path(discipline), class: "btn btn-sm btn-default"
               
      = box.footer do
        .pull-right= link_to "Hinzufügen", new_discipline_path, class: "btn btn-sm btn-default"
        .clearfix