.row
  .col-md-12
    = box Discipline.model_name.human do |box|
      %table.table
        %tr
          %th= Discipline.human_attribute_name(:name)
          %th= Discipline.human_attribute_name(:discipline)
          %th= Assessment.model_name.human
          %th
        - @disciplines.each do |discipline|
          %tr
            %td= discipline.name
            %td= discipline.discipline.model_name.human
            %td= discipline.assessments.count
            %td.text-right
              = link_to "Ansehen", discipline_path(discipline), class: "btn btn-sm btn-default"
               
      = box.footer do
        .pull-right= link_to "Hinzufügen", new_discipline_path, class: "btn btn-sm btn-default"
        .clearfix