.row
  .col-md-12
    = box Discipline.model_name.human(count: 0) do |box|
      %table.table
        %tr
          %th= Discipline.human_attribute_name(:type)
          %th= Assessment.model_name.human count: 0
          %th
        - @disciplines.each do |discipline|
          %tr
            %td
              = discipline_image(discipline)
              = discipline
            %td= discipline.assessments.join(", ")
            %td.text-right
              = btn_link_to "Ansehen", discipline
               
      - box.footer do
        = btn_link_to "Hinzufügen", { action: :new }
