= simple_form_for @certificates_list do |f|
  = box "Urkunden" do |box|
    = f.error_notification
    = f.input :template_id, collection: Certificates::Template.all
    = f.input :image, as: :boolean
    = f.input :score_result_id, collection: Score::Result.all
    - box.footer do
      = cancel_link(controller: "score/results")
      = f.primary_button :submit, "Speichern"
