= link_to("https://feuerwehrsport-statistik.de/people/#{person.id}", target: '_blank', rel: 'noopener') do
  = image_tag('statistiken-logo.png', class: 'statistiken-logo')
  Informationen auf Feuerwehrsport-Statistik.de über #{person.full_name}

- if person.personal_best_table.present?
  %table.table.table-condensed.table-bordered
    - person.personal_best_table.each do |discipline, parts|
      - first = true
      - parts.each do |short, info|
        %tr
          - if first
            %td{rowspan: parts.count}= discipline_image(Discipline.for_key discipline)
            - first = false
          %td{title: short[1]}= short[0]
          %td= info[0]
          %td= info[1]
