= simple_form_for @person do |f|
  = box Person.model_name.human do |box|
    = f.error_notification
    = f.association :team, label_method: ->(team) { team.decorate.numbered_name_with_gender }
    = f.input :first_name
    = f.input :last_name
    = f.input :gender, collection: Genderable::GENDERS.keys, hint: 'Achtung: Bei Änderung des Geschlechts gehen die gewünschten Wertungsgruppen verloren'
    - if Competition.one.show_bib_numbers?
      = f.input :bib_number

    = render 'tag_form', f: f
    - box.footer do
      = cancel_link
      = f.primary_button :submit, 'Speichern'

  = render('assessment_request_box', editable: false)
