= boxed_form_for Person.model_name.human, @person do |f|
  = f.error_notification
  = f.inputs do
    = f.association :team, label_method: lambda { |team| team.decorate.numbered_name_with_gender }
    = f.input :first_name
    = f.input :last_name
    = f.input :gender, collection: [:male, :female]
    - if decorated_competition.youth_name.present?
      = f.input :youth, as: :boolean, label: decorated_competition.youth_name
    - if Competition.one.show_bib_numbers?
      = f.input :bib_number
  = f.actions do
    = f.primary_button :submit, "Speichern"
