- if collection.count == 0
  .alert.alert-info Keine Einträge gefunden
- else
  %table.table.table-bordered.table-hover.table-condensed.people-index-table
    %tr
      - if Competition.one.show_bib_numbers?
        %th{ style: "width: 5%" } Nr.
      %th{ style: "width: 20%" } Nachname
      %th{ style: "width: 20%" } Vorname
      %th{ style: "width: 35%" } Mannschaft
      - @tags.each do |tag|
        %th{ style: "width: 5%" }= tag

      - assessments = Assessment.single_discipline(collection.first.gender).map(&:decorate)
      - assessments.each do |assessment|
        %th{ title: assessment }= discipline_image assessment.discipline
      - if admin_logged_in?
        %th
    - collection.each do |person|
      %tr
        - if Competition.one.show_bib_numbers?
          %td= person.bib_number
        %td= link_to person.last_name, person_path(person)
        %td= link_to person.first_name, person_path(person)
        %td= person.team
        - @tags.each do |tag|
          %td= person.tags.include?(tag) ? 'X' : ''
        - assessments.each do |assessment|
          - request = person.request_for(assessment.object).try(:decorate)
          - if request.present?
            %td{ title: "#{assessment}: #{request.type}" }= request.short_type
          - else
            %td
        - if admin_logged_in?
          %td= short_edit_link edit_assessment_requests_person_path(person), remote: true, class: "btn-xs", title: "Wertungsgruppen bearbeiten"