- if collection.count .zero?
  .alert.alert-info Keine Einträge gefunden
- else
  %table.table.table-bordered.table-hover.table-condensed.people-index-table
    %tr
      - if Competition.one.show_bib_numbers?
        %th Nr.
      %th Name
      %th Mannschaft
      - @tags.each do |tag|
        %th= tag

      - assessments = Assessment.no_double_event.gender(collection.first.gender).map(&:decorate)
      - assessments.each do |assessment|
        %th{ title: assessment }= discipline_image assessment.discipline
      - if admin_logged_in?
        %th
    - collection.each do |person|
      %tr
        - if Competition.one.show_bib_numbers?
          %td= person.bib_number
        %td
          = link_to person, person_path(person)
          = person.fire_sport_statistics_person&.personal_best_badge
        %td= person.team
        - @tags.each do |tag|
          %td= person.tags.include?(tag) ? 'X' : ''
        - assessments.each do |assessment|
          - request = person.request_for(assessment.object).try(:decorate)
          - if request.present?
            %td{ title: "#{assessment}: #{request.type}" }= request.short_type
          - else
            %td
        - if admin_logged_in?
          %td= short_edit_link edit_assessment_requests_person_path(person), remote: true, class: 'btn-xs', title: 'Wertungsgruppen bearbeiten'
