- if collection.count == 0
  .alert.alert-info Keine Einträge gefunden
- else
  %table.table.table-bordered.table-hover.table-condensed.people-index-table
    %tr
      - if Competition.one.show_bib_numbers?
        %th{ style: "width: 15%" } Nr.
      %th{ style: "width: 35%" } Name
      %th{ style: "width: 35%" }= Person.human_attribute_name(:team)
      - if decorated_competition.youth_name.present?
        %th{ style: "width: 5%" }= decorated_competition.youth_name

      - assessments = Assessment.requestable_for(collection.first).map(&:decorate)
      - assessments.each do |assessment|
        %th{ title: assessment }= discipline_image assessment.discipline
      - if logged_in?
        %th
    - collection.each do |person|
      %tr
        - if Competition.one.show_bib_numbers?
          %td= person.bib_number
        %td= link_to person.full_name, person_path(person)
        %td= person.team
        - if decorated_competition.youth_name.present?
          %td= person.youth? ? 'X' : ''
        - assessments.each do |assessment|
          - request = person.request_for(assessment.object).try(:decorate)
          - if request.present?
            %td{ title: "#{assessment}: #{request.type}" }= request.short_type
          - else
            %td
        - if logged_in?
          %td= short_edit_link edit_assessment_requests_person_path(person), remote: true, class: "btn-xs", title: "Wertungsgruppen bearbeiten"