= box Person.model_name.human, modal: true do |box|
  = simple_form_for @person, remote: true do |f|
    = f.error_notification
    .form-group.string
      %label.string.control-label{ for: "person_suggestion" } Schnelleingabe
      %input.string.form-control{ name: "person_suggestion", id: "person_suggestion", type: "text", data: { team_name: @person.try(:team).try(:name) } }
    .suggestions-entries
      %table.table.table-hover.table-condensed
    .row
      - if PersonTag.all.present?
        .col-md-3
          = render 'tag_form', f: f
      .col-md-3
        = f.input :first_name
      .col-md-3
        = f.input :last_name
      .col-md-3
        = f.input :gender, collection: [:male, :female]
    .row
      - if @person.team.nil?
        .col-md-6
          = f.association :team, label_method: lambda { |team| team.decorate.numbered_name_with_gender }
      - else
        = f.hidden_field :team_id
      - if Competition.one.show_bib_numbers?
        .col-md-6
          = f.input :bib_number
    = f.hidden_field :fire_sport_statistics_person_id
    .modal-footer
      = f.primary_button :submit, "Speichern"
