.row
  .col-md-12.refreshable#people-index
    = box Person.model_name.human count: 0 do |box|
      - if logged_in?
        - box.header do
          = link_to "Hinzufügen", new_person_path, class: "btn btn-sm btn-info", remote: true
       
      %h4 Weiblich
      = render "index_table", collection: @female
      %h4 Männlich
      = render "index_table", collection: @male
      
      - if logged_in?
        = box.footer do
          .clearfix
          
      - box.footer do
        .pull-right
          = link_btn "als PDF", url_for(format: :pdf)
          = link_btn "als XLS", url_for(format: :xlsx)
          - if logged_in?
            = link_to "Hinzufügen", new_person_path, class: "btn btn-sm btn-info", remote: true
        .clearfix