.row.refreshable#people-show
  .col-md-8
    = box(@person.full_name) do |box|
      %table.table
        %tr
          %th= @person.class.human_attribute_name :first_name
          %td= @person.first_name
        %tr
          %th= @person.class.human_attribute_name :last_name
          %td= @person.last_name
        %tr
          %th= @person.class.human_attribute_name :gender
          %td= @person.translated_gender

        - if decorated_competition.youth_name.present?
          %tr
            %th= decorated_competition.youth_name
            %td= @person.translated_youth

        %tr
          %th= @person.class.human_attribute_name :team
          %td
          - if @person.team
            = link_to @person.team.name, team_path(@person.team)

      - if logged_in?
        - box.footer do
          = btn_link_to "Löschen", { action: :destroy }, method: :delete, data: { confirm: 'Person wirklich löschen?' }
          = btn_link_to "Bearbeiten", action: :edit

  .col-md-8
    = box("Gewünschte #{Assessment.model_name.human count: 0}") do |box|
      %table.table
        - Assessment.requestable_for(@person).each do |assessment|
          - decorated_assessment = assessment.decorate
          %tr
            %th
              = discipline_image decorated_assessment.discipline
              = decorated_assessment
            %td
              - if @person.request_for(assessment).present?
                = t("assessment_types.#{@person.request_for(assessment).assessment_type}")
      - if logged_in?
        - box.footer do
          = btn_link_to "Wertungsgruppen bearbeiten", { action: :edit_assessment_requests }, remote: true
