= boxed_form_for Competition.model_name.human, @competition do |f|
  = f.error_notification
  = f.inputs do
    = f.input :name
    = f.input :place
    = f.input :date, as: :string
    = f.input :group_people_count
    = f.input :group_run_count
    = f.input :group_score_count
    = f.input :youth_name
    = f.input :hostname
    = f.input :competition_result_type, collection: Score::CompetitionResult.result_types.invert, include_blank: "Keine Gesamtwertung"
    = f.input :d_cup
    = f.input :show_bib_numbers

    %h3 Wettkämpfermarkierungen
    #person_tags.row
      = f.simple_fields_for :person_tags do |person_tag|
        = render 'person_tag_fields', f: person_tag
      .col-md-3
        = link_to_add_association 'Neue Markierung', f, :person_tags, class: "btn btn-default btn-xs btn-block"

    %h3 Mannschaftsmarkierungen
    #team_tags.row
      = f.simple_fields_for :team_tags do |team_tag|
        = render 'team_tag_fields', f: team_tag
      .col-md-3
        = link_to_add_association 'Neue Markierung', f, :team_tags, class: "btn btn-default btn-xs btn-block"
  = f.actions do
    = cancel_link
    = f.primary_button :submit, "Speichern"