= boxed_form_for Competition.model_name.human, @competition do |f|
  = f.error_notification
  = f.inputs do
    = f.input :name
    = f.input :date, as: :string
    = f.input :group_people_count
    = f.input :group_run_count
    = f.input :group_score_count
    = f.input :youth_name
  = f.actions do
    = f.primary_button :submit, "Speichern"