.row
  .col-md-12
    = box 'Benutzer' do |box|
      %table.table
        %tr
          %th Name
          %th Rolle
          %th E-Mail-Adresse
          %th
        - @users.each do |user|
          %tr
            %td= "#{user.salutation} #{user.full_name}"
            %td= user.type.constantize.model_name.human rescue ""
            %td= user.email
            %td.text-right
              = link_to "Ansehen", user_path(user), class: "btn btn-sm btn-default"
              - if user.is_a?(LockedUser)
                = link_to "Freigeben", unlock_user_path(user), class: "btn btn-sm btn-primary"
              - else
                = link_to "Bearbeiten", edit_user_path(user), class: "btn btn-sm btn-default"
                

      = box.footer do
        .pull-right= will_paginate @open_tasks, inline: true
        .clearfix