.row
  .col-md-8
    = box("Wettkampf: #{@competition.name}") do
      %table.table
        - if @competition.name.present?
          %tr
            %th= @competition.class.human_attribute_name :name
            %td= @competition.name
        %tr
          %th= @competition.class.human_attribute_name :date
          %td= l(@competition.date)

  .col-md-4
    = box('Aktionen') do
      = block_link_to 'Bearbeiten', { action: :edit }
