.row
  .col-md-12
    = box "Deutschland-Pokal #{Date.today.year}" do |box|
      %table.table
        - @results.each do |result|
          %tr
            %td
              = discipline_image(result.assessment.discipline)
              = result.to_s
            %td.text-right
              = btn_link_to "Ansehen", { action: :show, id: result.id }
        
      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
