.row
  .col-md-12
    = box @result do |box|
      %table.table.table-bordered.table-striped.table-condensed.d-cup
        %tr
          %th
          %th Name
          %th Punkte
          %th Teil.
          %th Summe
          - @result.competitions.each do |competition|
            %th.competition{colspan: 2}= competition.place.truncate(13)

        - @result.rows.each do |row|
          %tr
            %td= "#{place_for_row row}."
            %td.name= row.person
            %td= row.points
            %td= row.count
            %td.time-sum= row.stopwatch_time
            - @result.competitions.each do |competition|
              - result = row.result_for_competition(competition).try :decorate
              %td.points= result.try :points
              %td.time= result.try :stopwatch_time
      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
