.row
  .col-md-12
    = box @result do |box|
      %table.table.table-bordered.table-striped.table-condensed
        %tr
          %th
          %th Name
          %th Punkte
          %th Teil.
          %th Summe
          - @result.competitions.each do |competition|
            %th.small{colspan: 2}= competition.name

        - @result.rows.each do |row|
          %tr
            %td= "#{place_for_row row}."
            %td= row.person.full_name
            %td= row.points
            %td= row.count
            %td= row.stopwatch_time
            - @result.competitions.each do |competition|
              - result = row.result_for_competition(competition).try :decorate
              %td.small= result.try :points
              %td.small= result.try :stopwatch_time
      - box.footer do
        .pull-right
          = link_btn "als PDF", url_for(format: :pdf)
          = link_btn "als XLS", url_for(format: :xlsx)
        .clearfix
