= f.input :next_step, as: :hidden, input_html: { value: :create }

%h2 Voraussichtliche Liste
%table.table
  %tr
    %th Anzahl der Starter
    %td= @score_list_factory.preview_entries_count
  %tr
    %th Anzahl der Läufe
    %td= @score_list_factory.preview_run_count

= f.input :hidden, hint: 'Manchmal ist es besser, die Startliste zuerst zu verstecken. Es kann dann zum Beispiel kontrolliert werden, ob die Reihenfolge stimmt.'

- if @score_list_factory.discipline.key == :la
  = f.input :separate_target_times, hint: 'Die Zeiten für das linke und rechte Ziel werden einzelnd erfasst. Die langsamere Zeit wird zur Wertungszeit.'

.pull-right
  = f.primary_button :submit, 'Startliste erstellen'
