.refreshable#time-entries-refreshable
  .row
    .col-md-8
      = box 'Zeiteinträge' do |box|
        - if @waiting_time_entries.present?
          %table.table
            %tr
              %th Sender
              %th Hinweis
              %th Zeit
              %th
            - @waiting_time_entries.each do |entry|
              %tr
                %td= entry.sender
                %td= entry.hint
                %td= entry.second_time
                %td
                  = link_to entry, class: 'btn btn-default btn-sm' do
                    %span.glyphicon.glyphicon-pushpin
                    Zuordnen
                  = link_to ignore_api_time_entry_path(entry), method: :patch, class: 'btn btn-default btn-xs', data: { confirm: "Eintrag #{entry.second_time} wirklich ignorieren?" } do
                    %span.glyphicon.glyphicon-ban-circle
                    Ignorieren
        - else
          .alert.alert-info
            Derzeit keine Einträge vorhanden
        - box.footer do
          = btn_link_to 'Aktualisieren', url_for
    .col-md-4
      = box 'Startlistenvorauswahl' do
        .list-group#preselect-list{ data: { toogle: 'buttons' } }
          - @lists.each do |list|
            %label.btn.btn-default.btn-sm.list-group-item
              %input{ type: 'radio', name: 'preselect_list', value: "list-#{list.id}", autocomplete: 'off' }
              = list

  - if @closed_time_entries.present?
    = box 'Zugeordnete Zeiteinträge' do |box|
      %table.table
        %tr
          %th Sender
          %th Hinweis
          %th Zeit
          %th Erstellt
          %th
        - @closed_time_entries.each do |entry|
          %tr
            %td= entry.sender
            %td= entry.hint
            %td= entry.second_time
            %td= l entry.created_at
            %td
              - if entry.score_list_entry.present?
                = entry.score_list_entry.overview
              - else
                Ignoriert
      - box.footer do
        = btn_link_to('Alle anzeigen', all: true)
