= simple_form_for @user, url: { action: :update }do |f|
  = box "Passwort für Systemanmeldung" do |box|
    = f.error_notification
    - unless User.configured?
      .alert.alert-info Es wurde noch kein Passwort zur Anmeldung im System gesetzt.
    = f.input :password
    = f.input :password_confirmation
    - box.footer do
      = f.primary_button :submit, "Passwort ändern"
