= simple_form_for @user, url: { action: :create }do |f|
  = box "Passwort für Systemanmeldung" do |box|
    = f.error_notification
    - unless User.configured?
      .alert.alert-info Es wurde noch kein Passwort zur Anmeldung im System gesetzt.
    = f.input :name
    = f.input :password
    = f.input :password_confirmation
    = f.association :assessments, as: :check_boxes
    - box.footer do
      = f.primary_button :submit, 'Benutzer anlegen'
