= box "#{@score_list} abschließen", modal: true do |box|
  = simple_form_for @score_list, remote: true do |f|
    = f.error_notification
    - if @waiting_entries.present? || @unvalid_entries.present?
      .alert.alert-danger
        - if @waiting_entries.present?
          %h4 Wartende Starter
          %p Folgende Starter haben noch keinen Zeiteintrag:
          %p= @waiting_entries.map(&:entity).map(&:decorate).join(", ")
        - if @unvalid_entries.present?
          %h4 Starter ohne Zeit
          %p 
            Folgende Starter sind als
            %mark gültig
            markiert, haben noch keinen Zeiteintrag:
          %p= @unvalid_entries.map(&:entity).map(&:decorate).join(", ")
    - if @available_time_types.blank?
      %p.alert.alert-danger Es konnte keine passende Berechnungsart gefunden werden.
    - else
      = f.input :result_time_type, collection: available_time_types_collection
    - if @available_time_types.present?
      .modal-footer
        = f.primary_button :submit, "Durchführen"