= simple_form_for @score_list do |f|
  = box @score_list do |box|
    = f.error_notification
    = f.input :name
    = f.input :shortcut, input_html: { maxlength: 8 }
    = f.input :date, as: :string
    = f.association :results, collection: Score::Result.all, as: :check_boxes
    = render 'tag_form', f: f
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"