= boxed_form_for @score_list, @score_list do |f|
  = f.error_notification
  = f.inputs do
    = f.input :name
    = f.association :results, collection: Score::Result.all
  = f.actions do
    = f.primary_button :submit, "Speichern"