= box 'Teilnehmer hinzufügen', modal: true do
  = simple_form_for @score_list, remote: true do |f|
    - if not_yet_present_entities.count.zero?
      .alert.alert-danger Es wurde alle möglichen Teilnehmer zugeordnet
    - else
      = f.error_notification
      - free_run, free_track = @score_list.next_free_track
      = f.simple_fields_for :entries, @score_list.entries.build(run: free_run, track: free_track, entity_type: @score_list.discipline_klass.name) do |g|
        = g.association :entity, collection: not_yet_present_entities, label_method: ->(entity) { label_method_for_select_entity(entity) }
        - if params[:all_entities].blank?
          .pull-right= link_to 'Alle anzeigen (für doppelte Einträge)', { action: :select_entity, all_entities: true }, remote: true
        = g.input :run, as: :hidden
        = g.input :track, as: :hidden
        = g.input :entity_type, as: :hidden
        = g.association :assessment, collection: @score_list.assessments, label: 'Wertung/Gruppe'
        = g.input :assessment_type, as: :select, collection: AssessmentRequest.assessment_types.keys, label_method: ->(type) { t("assessment_types.#{type}") }

        Wird in Lauf #{free_run} auf Bahn #{free_track} eingeordnet.
      .model-footer
        = f.primary_button :submit, 'Hinzufügen'
