.row
  .col-md-12
    = simple_form_for @score_list do |f|
      = hidden_field_tag :edit_times, 1
      = box @score_list.name do |box|
        %table.table
          = render 'list_headline', times: true
          %tbody
            - score_list_entries(@score_list) do |entry, run, track, _best_of_run|
              = render layout: 'list_entry', locals: { entry: entry, run: run, track: track, list: @score_list, best_of_run: false } do
                = render 'score/runs/edit_time', entry: entry, f: f, fields_for: :entries
          - box.footer do
            = cancel_link
            = f.primary_button :submit, 'Speichern'
