.row
  .col-md-8
    = box 'Startlisten' do |box|
      %table.table
        - @score_lists.each do |list|
          %tr
            %td
              = discipline_image(list.discipline, size: "20x20")
              = list.name
            %td
              = link_btn "Ansehen", score_list_path(list)
               
      = box.footer do
        - if logged_in?
          .pull-right= link_btn "Hinzufügen", new_score_list_path
        .clearfix