.row
  .col-md-8
    = box 'Startlisten' do |box|
      - if logged_in?
        - box.header do
          .pull-right
            = btn_link_to "Hinzufügen", action: :new, controller: 'score/list_factories'
          .clearfix
      %table.table
        - @score_lists.each do |list|
          %tr
            %td
              = discipline_image(list.discipline)
              = list.name
            %td
              = btn_link_to "Ansehen", list

      - if logged_in?
        - box.footer do
          = btn_link_to "Hinzufügen", action: :new, controller: 'score/list_factories'

  - if logged_in? && @list_factory.present?
    .col-md-4
      = box 'Erstellungsvorgang' do |box|
        = block_link_to "Weiter mit Schritt #{@list_factory.current_step_number + 1}", edit_score_list_factories_path
        = block_link_to 'Abbrechen', score_list_factories_path, method: :delete, data: { confirm: 'Listenerstellung abbrechen?' }, class: 'btn btn-default btn-sm'