.row
  .col-md-8
    = box 'Startlisten' do |box|
      %table.table
        - @score_lists.each do |list|
          %tr
            %td
              = discipline_image(list.discipline)
              = list.name
            %td
              = btn_link_to "Ansehen", list

      - if logged_in?
        - box.footer do
          = btn_link_to "Hinzufügen", action: :new