.row.refreshable#score-list-show
  .col-md-8
    = box @score_list.name do |box|
      %table.table
        %thead
          %tr
            %th Lauf
            %th Bahn
            - if single_discipline?
              %th Vorname
              %th Nachname
            %th Mannschaft
            %th Zeit

        %tbody
          - score_list_entries do |entry, run, track|
            = render layout: 'list_entry', locals: { entry: entry, run: run, track: track } do |first|
              - if single_discipline?
                %td= entry.try(:entity).try(:first_name)
                %td= entry.try(:entity).try(:last_name)
                %td= entry.try(:entity).try(:team).try(:name)
              - else
                %td= entry.try(:entity).try(:name)
              %td.time-col
                = result_for entry
                .pull-right
                  - if first && @score_list.open?
                    = short_edit_link edit_score_list_run_path(@score_list, run: run), title: "Zeiten bearbeiten", class: "btn-xs"
                  - if @score_list.open? && entry
                    = short_destroy_link destroy_entity_score_list_path(@score_list, entry_id: entry.id), title: "Aus Liste entfernen", class: "btn-xs", remote: true
  .col-md-4
    = box("Aktionen") do
      - if @score_list.open?
        = link_btn "Reihenfolge bearbeiten", move_score_list_path(@score_list)
        %br
        = link_btn "Bearbeiten", edit_score_list_path(@score_list)
        %br
        = link_btn "Liste abschließen", finished_score_list_path(@score_list), remote: true
        %br
        = link_btn "Teilnehmer hinzufügen", select_entity_score_list_path(@score_list), remote: true

      - else
        = link_btn "Liste öffnen", finished_score_list_path(@score_list), remote: true
      %br
      = link_btn "Excel-Liste", score_list_path(@score_list, format: :xlsx)