.row.refreshable#score-list-show
  .col-md-9
    = box @score_list.name do |box|
      %table.table
        %thead
          %tr
            %th Lauf
            %th Bahn
            - if single_discipline?
              %th Vorname
              %th Nachname
            %th Mannschaft
            %th Zeit

        %tbody
          - score_list_entries do |entry, run, track|
            = render layout: 'list_entry', locals: { entry: entry, run: run, track: track } do |first|
              - if single_discipline?
                %td= entry.try(:entity).try(:first_name)
                %td= entry.try(:entity).try(:last_name)
                %td= entry.try(:entity).try(:team_name, entry.try(:assessment_type))
              - else
                %td= entry.try(:entity).try(:to_s, multiple_assessments?)
              %td.time-col
                = result_for entry
                - if logged_in?
                  .pull-right
                    - if first && @score_list.open?
                      = short_edit_link edit_score_list_run_path(@score_list, run: run), title: "Zeiten bearbeiten", class: "btn-xs"
                    - if @score_list.open? && entry
                      = short_destroy_link destroy_entity_score_list_path(@score_list, entry_id: entry.id), title: "Aus Liste entfernen", class: "btn-xs", remote: true
      - box.footer do
        .pull-right
          = link_btn "als PDF", url_for(format: :pdf)
          = link_btn "als XLS", url_for(format: :xlsx)
        .clearfix

  - if logged_in?
    .col-md-3
      = box("Aktionen") do
        - if @score_list.open?
          = link_btn "Liste abschließen", finished_score_list_path(@score_list), remote: true
          %br
          = link_to "Reihenfolge bearbeiten", move_score_list_path(@score_list), class: "btn btn-info btn-sm"
          %br
          = link_to "Zeiten im Block eintragen", edit_times_score_list_path(@score_list), class: "btn btn-default btn-sm"
          %br
          = link_to "Teilnehmer hinzufügen", select_entity_score_list_path(@score_list), remote: true, class: "btn btn-success btn-sm"

        - else
          = link_btn "Liste öffnen", finished_score_list_path(@score_list), remote: true

      - if @score_list.open?
        = box("Allgemein") do
          = link_btn "Bearbeiten", edit_score_list_path(@score_list)
          %br
          = link_btn "Löschen", score_list_path(@score_list), method: :delete, data: { confirm: 'Startliste wirklich löschen? Alle bisher eingetragenen Zeiten dieser Liste gehen verloren!' }
