.row.refreshable#score-list-show
  .col-md-9.much-data
    = box @score_list.name, warning: @score_list.hidden? do |box|
      - if logged_in? || !@score_list.hidden?
        %table.table.much-data
          = render 'list_headline', times: true
          %tbody
            - score_list_entries(@score_list) do |entry, run, track|
              = render layout: 'list_entry', locals: { entry: entry, run: run, track: track } do
                - if @score_list.separate_target_times?
                  %td.separate-times
                    = entry.try(:human_time_left_target)
                    %br
                    = entry.try(:human_time_right_target)
                %td.time-col
                  = entry.try(:human_time)
                  - if logged_in? && can?(:edit_times, @score_list)
                    .pull-right
                      - if track == 1 && params[:destroy_index].nil?
                        = short_edit_link edit_score_list_run_path(@score_list, run: run), title: 'Zeiten bearbeiten', class: 'btn-xs'
                      - if entry.present? && params[:destroy_index]
                        = short_destroy_link destroy_entity_score_list_path(@score_list, entry_id: entry.id), title: 'Aus Liste entfernen', class: 'btn-xs', remote: true
        - box.footer do
          = btn_link_to 'als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
          = btn_link_to 'als PDF mit vorgetäuschtem zweiten Lauf', { format: :pdf, double_run: true }, target: '_blank', rel: 'noopener'
          = btn_link_to 'als PDF für Kampfrichter', { format: :pdf, more_columns: true }, target: '_blank', rel: 'noopener'
          = btn_link_to 'als XLS', format: :xlsx
      - else
        %p Diese Startliste ist derzeit nicht öffentlich einsehbar.
  .col-md-3
    - if logged_in?
      - if @score_list.hidden?
        = box('Versteckt', danger: true) do
          %p Die Startliste ist derzeit noch versteckt. Bitte geben Sie diese nach der Kontrolle frei.
          - if can?(:edit, @score_list)
            = block_link_to 'Bearbeiten', { action: :edit }
      = box('Aktionen') do
        - if can?(:edit, @score_list)
          = block_link_to 'Reihenfolge bearbeiten', { action: :move }
        - if can?(:edit_times, @score_list)
          = block_link_to 'Zeiten im Block eintragen', { action: :edit_times }
        - if can?(:edit, @score_list)
          = block_link_to 'Teilnehmer hinzufügen', { action: :select_entity }, remote: true
          - if params[:destroy_index]
            = block_link_to 'Zeiten eintragen', { action: :show }
          - else
            = block_link_to 'Teilnehmer entfernen', { action: :show, destroy_index: 1 }
        - if can?(:copy, @score_list)
          = block_link_to 'Startliste klonen', copy_list_score_list_factories_path(@score_list)

      - if can?(:edit, @score_list)
        = box('Allgemein') do
          = block_link_to 'Bearbeiten', { action: :edit }
          - if can?(:destroy, @score_list)
            = block_link_to 'Löschen', { action: :destroy }, method: :delete, data: { confirm: 'Startliste wirklich löschen? Alle bisher eingetragenen Zeiten dieser Liste gehen verloren!' }

      = box('Ausgabe') do
        = block_link_to('PDF (Drucken)', { format: :pdf }, target: '_blank', rel: 'noopener')
        = block_link_to('PDF für Kampfrichter', { format: :pdf, more_columns: true }, target: '_blank', rel: 'noopener')
        = block_link_to('XLS (Excel)', format: :xlsx)

    - if @score_list.results.present?
      = box('Ergebnisse') do
        - @score_list.results.each do |result|
          = block_link_to(result.decorate, url_for(result))
