= simple_form_for @certificates_template do |f|
  = box @certificates_template.name do |box|
    = f.error_notification
    = f.input :name
    = f.input :image, hint: f.object.image_hint
    = f.input :font, hint: f.object.font_hint
    = f.input :font2, hint: f.object.font2_hint
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"