- if @certificates_template.font.present?
  = render 'font_style', type: :regular, font: @certificates_template.font
- if @certificates_template.font2.present?
  = render 'font_style', type: :bold, font: @certificates_template.font2

.row
  .col-md-8
    = box("Urkundenvorlage: #{@certificates_template.name}") do
      %table.table
        - if @certificates_template.name.present?
          %tr
            %th= @certificates_template.class.human_attribute_name :name
            %td= @certificates_template.name
        %tr
          %th= @certificates_template.class.human_attribute_name :image
          - if @certificates_template.image.present?
            %td= image_tag(@certificates_template.image, width: "100px")
          - else
            %td Nicht angegeben
        %tr
          %th= @certificates_template.class.human_attribute_name :font
          - if @certificates_template.font.present?
            %td{ style: "font-family: certificates_template_#{@certificates_template.id}_regular" } Beispieltext 
          - else
            %td Nicht angegeben
        %tr
          %th= @certificates_template.class.human_attribute_name :font2
          - if @certificates_template.font2.present?
            %td{ style: "font-family: certificates_template_#{@certificates_template.id}_bold" } Beispieltext 
          - else
            %td Nicht angegeben

  .col-md-4
    = box("Aktionen") do
      = block_link_to "Textpositionen", action: :edit, form_type: :text_positions
      = block_link_to "Bearbeiten", action: :edit
      = block_link_to "Vorschau als PDF", { format: :pdf }, target: '_blank', rel: 'noopener'
      = block_link_to "Löschen", { action: :destroy }, method: :delete, data: { confirm: 'Vorlage wirklich löschen?' }
      = block_link_to "Übersicht Urkundenvorlagen", action: :index
      = button_to 'Vorlage duplizieren', { action: :duplicate }, class: 'btn-default btn-block btn btn-sm', form_class: 'button_to button_to_block'
      = block_link_to 'Vorlage exportieren', format: :json

  .col-md-6
    = box("Vorschau") do
      %iframe#certificates-template-preview{ src: url_for(format: :pdf) }