- if @person_assessments.present?
  %h3 Einzelwertungen
  = count_table(@person_assessments) do |ct|
    - ct.col("Disziplin") { |row| link_to("#{discipline_image(row.decorate.discipline_model)} #{row.name}".html_safe, controller: 'series/assessments', action: :show, id: row) }
    - ct.col("Wettkämpfer") { |row| row.participations.pluck(:person_id).uniq.count }
- if @team_assessments_exists
  - [:female, :male].each do |gender|
    - if @round.team_assessment_rows(gender, false).present?
      
      %h3
        Mannschaftswertung
        = t("gender.#{gender}")
      = count_table(@round.team_assessment_rows(gender, false).map(&:decorate)) do |ct|
        - ct.col("Platz", :rank, class: "col-5")
        - ct.col("Team", class: "col-15") { |row| row }
        - @round.cups.each do |cup|
          - ct.col(cup.competition_place, class: "col-10") { |row| render("series/rounds/participations_table", participations: row.participations_for_cup(cup)) }
        - ct.col("Teil.", :count, class: "col-5")
        - ct.col("Bestzeit", :second_best_time, class: "col-5")
        - ct.col("Punkte", :points, class: "col-5")

