- builder = UI::BoxBuilder.new
- body = capture(builder, &block)
.box{ class: box_classes(options) }
  - if title.present?
    .box-header
      - if builder.header
        .box-header-right
          = capture(&builder.header)
      %h2.box-title
        - if options[:collapsable]
          %a{ href: "#box-body-#{index}", data: { toggle: 'collapse', parent: options[:collapsable] } }= title
        - else
          = title
  %div{ id: "box-body-#{index}", class: options[:collapsable] ? 'panel-collapse collapse' : '' }
    - if options[:body] && !options[:body][:padding]
      .box-body.no-padding
        = body
    - else
      .box-body
        = body
    - if builder.footer
      .box-footer
        = capture(&builder.footer)