%ul.sidebar-menu
  %li{ class: controller_name == 'dashboard' ? 'active' : '' }
    %a{ href: root_path }
      %i.fa.fa-info-circle
      %span Übersicht
  - if logged_in?
    %li{ class: controller_name == 'disciplines' ? 'active' : '' }
      %a{ href: disciplines_path }
        %i.fa.fa-cubes
        %span= Discipline.model_name.human count: 0
    %li{ class: controller_name == 'assessments' ? 'active' : '' }
      %a{ href: assessments_path }
        %i.fa.fa-paper-plane
        %span= Assessment.model_name.human count: 0
  %li{ class: controller_name == 'teams' ? 'active' : '' }
    %a{ href: teams_path }
      %i.ion.ion-person-stalker
      %span= Team.model_name.human count: 0  
  %li{ class: controller_name == 'people' ? 'active' : '' }
    %a{ href: people_path }
      %i.ion.ion-person
      %span= Person.model_name.human count: 0  
  %li{ class: controller_name == 'lists' ? 'active' : '' }
    %a{ href: score_lists_path }
      %i.fa.fa-list-ul
      %span= Score::List.model_name.human count: 0
  %li{ class: controller_name == 'results' ? 'active' : '' }
    %a{ href: score_results_path }
      %i.fa.fa-list-ol
      %span= Score::Result.model_name.human count: 0
  - if logged_in?
    %li{ class: controller_name == 'session' ? 'active' : '' }
      %a{ href: logout_path }
        %i.fa.fa-sign-out
        %span Logout
  - else
    %li{ class: controller_name == 'session' ? 'active' : '' }
      %a{ href: login_path }
        %i.fa.fa-sign-in
        %span Login