= simple_form_for @teams_import, url: teams_import_path do |f|
  = box 'Mannschaften importieren' do |box|
    = f.error_notification
    = f.input :band_id, as: :radio_buttons, collection: Band.all, required: true
    = f.input :import_rows, as: :text, hint: 'Bitte die Namen Zeilenweise angeben', required: true
    = f.hint 'Mannschaften, die schon vorhanden sind, werden übersprungen und nicht erneut angelegt.'

    - box.footer do
      = cancel_link url: teams_path
      = f.primary_button :submit, 'Importieren'
